[submodule "UADetector-Core"]
	path = UADetector-Core
	url = https://github.com/GedMarc/uadetector-core-jpms.git
[submodule "UADetector-Resources"]
	path = UADetector-Resources
	url = https://github.com/GedMarc/uadetector-resources-jpms.git
